version: 0.0.{build}
environment:
  matrix:
  - nodejs_version: "4"
    platform: x64
  - nodejs_version: "4"
    platform: x86
  - nodejs_version: "5"
    platform: x64
  - nodejs_version: "5"
    platform: x86
  - nodejs_version: "6"
    platform: x64
  - nodejs_version: "6"
    platform: x86
  - nodejs_version: "7"
    platform: x64
  - nodejs_version: "7"
    platform: x86
  - nodejs_version: "8"
    platform: x64
  - nodejs_version: "8"
    platform: x86
  - nodejs_version: "9"
    platform: x64
  - nodejs_version: "9"
    platform: x86
  - nodejs_version: "10"
    platform: x64
  - nodejs_version: "10"
    platform: x86
install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  # Upgrade npm to latest
  - 'if "%nodejs_version%" LEQ 5 (npm install -g npm@5) else (npm install -g npm@latest)'
  - node -v
  - npm -v
  - npm install -g --loglevel error node-gyp
  - npm install
build: off
test_script:
  - cmd: npm test
