version: 0.0.{build}
environment:
  matrix:
  - nodejs_version: "4"
    platform: x64
  - nodejs_version: "4"
    platform: x86
  - nodejs_version: "6"
    platform: x64
  - nodejs_version: "6"
    platform: x86
  - nodejs_version: "7"
    platform: x64
  - nodejs_version: "7"
    platform: x86
  - nodejs_version: "8"
    platform: x64
  - nodejs_version: "8"
    platform: x86
  - nodejs_version: "9"
    platform: x64
  - nodejs_version: "9"
    platform: x86
  - nodejs_version: "10"
    platform: x64
  - nodejs_version: "10"
    platform: x86
image:
  - Visual Studio 2017
  - Visual Studio 2015
  - Visual Studio 2013
install:
  - ps: Install-Product node $env:nodejs_version x64
  # Prepend 2017, 2015 and 2013 tools. Harmless when the path for the other versions don't exist.
  - set "PATH=%ProgramFiles(x86)%\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin;%ProgramFiles(x86)%\MSBuild\14.0\Bin;%ProgramFiles(x86)%\MSBuild\12.0\Bin;%PATH%"
  # Upgrade npm to latest
  - npm install --loglevel error -g npm 
  - set "PATH=%APPDATA%\npm;%PATH%"
  - node -v
  - npm -v
  - npm install -g --loglevel error node-gyp
  - npm install
build: off
test_script:
  - cmd: npm test
